<!DOCTYPE html>
<html>
<head>
  <title>KandanCampfire</title>
  <%= stylesheet_link_tag    "kandan_campfire/application", :media => "all" %>
  <%= javascript_include_tag "kandan_campfire/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
